<mat-drawer-container autosize>
  <mat-drawer class="mat-elevation-z2" #drawer [mode]="drawerMode$ | async" (closedStart)="onDrawerClosedStart()">
    <mat-toolbar color="accent">
      <span>Ubernise</span>
    </mat-toolbar>

    <button mat-menu-item (click)="onMenuItemClicked('/')">
      <mat-icon>dashboard</mat-icon>
      Dash
    </button>
    <button mat-menu-item (click)="onMenuItemClicked('/carteiras')">
      <mat-icon>account_balance_wallet</mat-icon>
      Carteiras
    </button>
    <button mat-menu-item (click)="onMenuItemClicked('/taxas')">
      <mat-icon>attach_money</mat-icon>
      Taxas
    </button>
    <button mat-menu-item (click)="onMenuItemClicked('/viagens')">
      <mat-icon>directions_car</mat-icon>
      Viagens
    </button>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        *ngIf="!(drawerFixed$ | async)"
        (click)="drawer.open()"><mat-icon>menu</mat-icon></button>
      <span class="spacer"></span>
      <img [src]="(usuario$ | async).imagem_url" [matMenuTriggerFor]="menu">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSair()">Sair</button>
      </mat-menu>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
