@import '../../node_modules/@angular/material/theming';

// always include only once per project
@include mat-core();

// import our custom theme
@import './theme.scss';

// use my-theme with angular-material-theme mixin
@include angular-material-theme($admin-theme);

body {
  margin: 0;
  height: 100%;
  font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
}

.card-margin-top {
  margin-top: 30px;
  @media (max-width: 599px) {
    margin-top: 20px;
  }
}
.card-header {
  padding: 10px;
  background-color: #f2f2f2;
  display: flex;
  color: #757575;
}
.spacer {
  flex-grow: 1;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  >.content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1 1 auto;
  }
}
