@import '~@angular/material/theming';

// http://mcg.mbitson.com/#!?mcgpalette0=%23ffca6a
$admin-primary-palette: (
  50 : #fff9ed,
  100 : #ffefd2,
  200 : #ffe5b5,
  300 : #ffda97,
  400 : #ffd280,
  500 : #ffca6a,
  600 : #ffc562,
  700 : #ffbd57,
  800 : #ffb74d,
  900 : #ffab3c,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff3e5,
  A700 : #ffe8cb,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
// http://mcg.mbitson.com/#!?mcgpalette0=%237282da
$admin-accent-palette: (
  50 : #eef0fb,
  100 : #d5daf4,
  200 : #b9c1ed,
  300 : #9ca8e5,
  400 : #8795e0,
  500 : #7282da,
  600 : #6a7ad6,
  700 : #5f6fd0,
  800 : #5565cb,
  900 : #4252c2,
  A100 : #ffffff,
  A200 : #e2e5ff,
  A400 : #afb8ff,
  A700 : #96a2ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
// http://mcg.mbitson.com/#!?mcgpalette0=%23c94940
$admin-warn-palette: (
  50 : #f9e9e8,
  100 : #efc8c6,
  200 : #e4a4a0,
  300 : #d98079,
  400 : #d1645d,
  500 : #c94940,
  600 : #c3423a,
  700 : #bc3932,
  800 : #b5312a,
  900 : #a9211c,
  A100 : #ffe1e0,
  A200 : #ffb0ad,
  A400 : #ff7e7a,
  A700 : #ff6561,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
// http://mcg.mbitson.com/#!?mcgpalette0=%23496b52
$admin-green-palette: (
  50 : #e9edea,
  100 : #c8d3cb,
  200 : #a4b5a9,
  300 : #809786,
  400 : #64816c,
  500 : #496b52,
  600 : #42634b,
  700 : #395841,
  800 : #314e38,
  900 : #213c28,
  A100 : #83ffa2,
  A200 : #50ff7c,
  A400 : #1dff55,
  A700 : #03ff42,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$primary: mat-palette($admin-primary-palette, 700, 300, 900);
$accent: mat-palette($admin-accent-palette);
$warn: mat-palette($admin-warn-palette, 500);
$success: mat-palette($admin-green-palette, 500);

$admin-theme: mat-light-theme(
  $primary,
  $accent,
  $warn
);
