service firebase.storage {
  match /b/{bucket}/o {
    function autenticado() {
      return request.auth != null;
    }

    match /images {
      match /usuarios/{image} {
        allow read: if true;
        allow write: if autenticado();
      }
    }
  }
}
