<div class="container">
  <div class="content">
    <div class="content-padding">
      <canvas height="200px" #canvas>{{ chart$ | async }}</canvas>

      <viagem-card
        *ngIf="viagemStarted$ | async as viagem"
        [disabled]="waiting$ | async"
        [viagem]="viagem"
        (finalize)="onViagemStartedFinalize(viagem.id)"
        (cancel)="onViagemCancel(viagem.id)"></viagem-card>

      <h3 *ngIf="(recentsViagens$ | async).length">Viagens Recentes</h3>
      <viagem-resume
        *ngFor="let viagem of recentsViagens$ | async"
        [viagem]="viagem"
        (duplicate)="onViagemCreate($event)"
        (cancel)="onViagemCancel($event.id)"></viagem-resume>

      <button mat-fab (click)="onViagemCreate()" [disabled]="waiting$ | async">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
</div>
