@import '../../theme.scss';

div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 52px;
  padding: 10px 5px;

  img {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-bottom: 5px;
  }
  span {
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    max-width: 100%;
    overflow: hidden;
  }
  &.disabled {
    background: #EEE;
    color: black;
    filter: grayscale(100%);
  }
  &.selected {
    border-radius: 3px;
    background: mat-color($accent, 500);
    color: white;

    &.disabled {
      background: #BBB;
    }
  }
}
