:host {
  display: flex;
  flex-grow: 1;
  justify-content: stretch;
  align-items: start;

  >* {
    flex-grow: 1;
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-self: center;
  }
}
