:host {
  display: flex;
  align-items: center;
  padding-bottom: 10px;

  .description {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  
    .text {
      font-size: 20px;
    }
    .date {
      font-size: 10px;
    }
  }
  .value {
    font-size: 16px;
  }
}
